<h1>All Artists</h1>
<table class="table-responsive highlight">
    <thead>
        <tr>
            <th>Image</th>
            <th><%= sortable "id" %></th>
            <th><%= sortable "name" %></th>
            <th><%= sortable "created_at" %></th>
        </tr>
    </thead>
    <% @artists.each do |artist, id| %>
    <tr>
        <td><img src="<%= artist.image_url %>" class="circle"/></td>
        <td><%= link_to artist_path(artist) do %><%= artist.id %><% end %></td>
        <td><%= artist.name %></td>
        <td><%= artist.created_at %></td>
    </tr>
    <% end %>
    
</table>
