<h1>All Artists</h1>
<table class="table-responsive highlight">
    <thead>
        <tr>
            <th><%= sortable "id" %></th>
            <th><%= sortable "name" %></th>
            <th><%= sortable "created_at" %></th>
        </tr>
    </thead>
    <% @artists.each do |artist| %>
    <tr>
        <td><%= artist.id %></td>
        <td><%= artist.name %></td>
        <td><%= artist.created_at %></td>
    </tr>
    <% end %>
    
</table>
